<p id="notice"><%= notice %></p>

<div>
  <h1 class="text-white text-5xl text-center text-opacity-50 bg-indigo-500 rounded-lg ">読上げ掲示板</h1>
</div>

<div class="max-w-md py-4 px-8 bg-white my-5">
  <div class="flex justify-center md:justify-end -mt-16">
  </div>
  <div class="mt-10">
    <h2 class="text-gray-800 text-3xl font-semibold text-gray-600">使用方法の説明</h2>
    <div>
      <div class="flex ">
        <p class="mx-4 mt-2 text-gray-600 font-semibold">
          <svg class="h-8 w-8 text-indigo-500 float-left" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/>
            <circle cx="8.5" cy="7" r="4"/>
            <line x1="20" y1="8" x2="20" y2="14"/>
            <line x1="23" y1="11" x2="17" y2="11"/>
          </svg>
        <p class="mt-2 text-gray-600 font-semibold">
          このアイコンよりユーザー登録が可能です。ユーザー登録することでコンテント登録が可能となります。</p>
      </div>
      </p>
      <p>
    </div>

    <p class="mt-2 text-gray-600 font-semibold">
      ●New Post ー＞　Create Postでコンテントを追加できます。<br>
      登録後、再生ボタンで読み上げができます。停止ボタンで読み上げ停止ができます。<br><br>
    </p>
    ●すでに登録されているコンテントの再生は、<br>Contentを選択　ー＞再生ボタンで読み上げが可能です。
    </p>
  </div>
</div>